<div class="container">
  <!--<div *ngFor="let user of users; index as i">
    <div *ngIf="i % 2 == 0; then thenBlock; else elseBlock"></div>
    <ng-template #thenBlock>
      <div class="row">
        <div *ngFor="let j; j > i; j++">
          <app-post class="col-6" [user]="user"></app-post>
        </div>
      </div>
    </ng-template>
    <ng-template #elseBlock>
      <div class="row">
        <app-post class="col-6" [user]="user"></app-post>
      </div>
    </ng-template>
  </div>-->

  <div class="row">
    <app-post class="col-6" *ngFor="let user of users" [user]="user"></app-post>
  </div>
</div>
